body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "navigation navigation navigation"
    "main main main"
    "footer footer footer";
    grid-template-rows: 8em 8em auto 3em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: header;
    border: 1px solid #000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: navigation;
    border: 1px solid #000;
}

aside {
    display: flex;
    flex-direction: column;
    grid-area: subnav;
    border: 1px solid #000;
}

main {
    grid-area: main;
    border: 1px solid #000;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    border: 1px solid #000;
}

a {
    margin: 1rem;
}